<div class="content-informations clickable">
	<div class="feature-grid-head">
		<div class="feature-grid-head-top feature-grid-head-top3">
			<label> </label><span> </span> <label> </label>
			<div class="clear"> </div>
		</div>
		<h3>{{ category.title }}</h3>
	</div>
	<div class="clear"> </div>
	<div class="hidable">
		<br/><br/>
		{% for content in category.contents %}
			<div class="contenu-line">
				<div class="feature-grid-left">
					<h4>{{ content.labelValue }}</h4>	
				</div>
				<div class="feature-grid-right">
					{% if content.formType == 'textarea' %}
						<h4>{{ content.textValue }}</h4>
					{% else %}
						<h4>{{ content.stringValue }}</h4>
					{% endif %}
				</div>
				<div class="clear"> </div>
			</div>
		{% endfor %}
	</div>
	<div class="clear"> </div>
</div>