<div class="contact_form list-content border">
	<div class="list-content-left">{{ category.title | truncate(40, true, '...') }}</div>
	<div class="list-content-right">
		<button type="button" /><a href="{{ path('cv_profile_category_edit', {'idCategory': category.id}) }}">Modifier</a></button>
	</div>
</div>