<form class="contact_form" action="{{ path('cv_profile_content_edit') }}" method="post" name="contact_form_contenu">
	<ul class="form-content">
		<li>
			<input type="hidden" name="idCategory" value="{{ category.id }}" required />
			<label for="titre">Titre ou période:</label>
			<input type="text" name="titre" maxlength="50" required />
		</li>
		<li>
			<label for="description1">Description 1:</label>
			<input type="text" name="description1" maxlength="100" required />
		</li>
		<li>
			<label for="description2">Description 2:</label>
			<input type="text" name="description2" maxlength="100" />
		</li>
		<li>
			<label for="description3">Description 3:</label>
			<input type="text" name="description3" maxlength="200" />
		</li>
	</ul>
	<ul class="form-submit">
		<li>
			<input type="submit" class="submit" value="Créer Contenu"/>
		</li>
	</ul>
</form>