<div class="right-protfolio-grids2">
	<div class="feature-grid2">
		<div class="feature-grid-head feature-grid-head3">
			<h3><span>Nouveau</span> Curriculum Vitae</h3>
			<div class="feature-grid-head-top">
				<label> </label><label> </label>
				<div class="clear"> </div>
			</div>
		</div>
		{% include "MyWebsiteCvBundle:Profile:SubLayout/Form/cv-new.html.twig" %}
	</div>
</div>