<div class="contenu-line">
	<div class="feature-grid-left">
		<h4>{{ contenu.titre }}</h4>	
	</div>
	<div class="feature-grid-right">
		<h4>{{ contenu.description1 }}</h4>
		<div class="contenu-line-content">
			{% if contenu.description2 is not null %}
				{{ contenu.description2 }}
			{% endif %}
			{% if contenu.description3 is not null %}
				{{ contenu.description3 }}
				<br/><br/>
			{% endif %}
		</div>
	</div>
	<div class="clear"> </div>
</div>