<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Nouveau</span> Curriculum Vitae</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-project-form">
		<form class="contact_form" action="{{ path('mywebsiteweb_profil_cv_nouveau') }}" method="post" name="contact_form">
			<ul class="form-content">
				<li>
					<h2>Détails du Cv</h2>
					<span class="required_notification">* Denotes Required Field</span>
				</li>
				<li>
					<label for="intitule">Intitule:</label>
					<input type="text" name="intitule" placeholder="Mon Cv" maxlength="50" required />
				</li>
				<li>
					<label for="disponibilite">Disponibilité:</label>
					<input type="text" name="disponibilite" placeholder="Juillet 2014" required />
				</li>
				<li>
					<label for="mobilite">Mobilité:</label>
					<input type="text" name="mobilite" placeholder="Ile-de-France" />
				</li>
				<li>
					<label for="description">Description:</label>
					<textarea name="description" cols="40" rows="6" ></textarea>
				</li>
			</ul>
			<ul class="form-submit">
				<li>
					<input type="submit" class="submit" value="Créer Cv"/>
				</li>
			</ul>
		</form>
	</div>
	<div class="clear"> </div>
</div>
