<div class="feature-grid2">
	<div class="feature-grid-head">
		<h3><span>Nouveau</span> Album</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="contact-form">						
		
	</div>
	<div class="clear"> </div>
</div>