<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Tous les</span> Projets</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="new-project-form">
		{% if list_projects | length == 0 %}
			<p>Aucun Projet créé...</p>
			<br/>
			<div class="list-content">
				<button type="button" /><a href="{{ path('mywebsiteweb_profil_project_afficher') }}">Ajouter Projet</a></button>
			</div>
		{% else %}
			{% for project in list_projects %}
				{% include "MyWebsiteWebBundle:Web:Profil/project-list-content.html.twig" %}
			{% endfor %}
		{% endif %}
	</div>
	<div class="clear"> </div>
</div>
