{% extends "MyWebsiteWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block class_header %}header2{% endblock %}

{% block section %}
	<!---Start-content---->
	<div class="content">
		<div class="wrap">
			<div class="feature-grid-head">
			    <div class="feature-grid-head-top contact-top-head">
					<label> </label><span> </span> <label> </label>
					<div class="clear"> </div>
				</div>
				<h3><span>My</span> Contact Info</h3>
			</div>
			<div class="contact-top-grids">
				<div class="c-top-grid">
					<span> </span>
					<h3>Address Details</h3>
					<ul>
						<li>Paris,</li>
						<li>France</li>
					</ul>
				</div>
				<div class="c-top-grid c-top-grid1">
					<span> </span>
					<h3>Telephone</h3>
					<ul>
						<li>+336-98-33-01-53</li>
					</ul>
				</div>
				<div class="c-top-grid c-top-grid2">
					<span> </span>
					<h3>Working time</h3>
					<ul>
						<li>Mon-Fri-08:00-20:00</li>
						<li>Saturday-Closed</li>
						<li>Sunday-Closed</li>
					</ul>
				</div>
				<div class="c-top-grid last-grid">
					<span> </span>
					<h3>Email Address</h3>
					<ul>
						<li>samir(8)saidali(at)yahoo(dot)fr</li>
						<li>admin@mywebsite.com</li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<!---start-contact-form--->
				<div class="contact-form">
					<div class="feature-grid-head">
					    <div class="feature-grid-head-top contact-form-head">
							<label> </label><span> </span> <label> </label>
							<div class="clear"> </div>
						</div>
						<h3><span>Contact</span> Form</h3>
					</div>
					<form>
						<div class="text-box-grids">
							<div class="text-box">
								<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
							</div>
							<div class="text-box">
								<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
							</div>
							<div class="clear"> </div>
						</div>
						<div class="clear"> </div>
						<div class="textarea-box">
							<textarea rows="2" cols="70" onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Your Message</textarea>
						</div>
						<div class="clear"> </div>
						<input type="submit" value="Send" />
					</form>
				</div>
			<!---//End-contact-form--->
		</div>
	</div>
	<!---End-content---->
{% endblock %}