<br/>
<li>
	<h2>{{ category.title }}</h2>
</li>
{% if category.type == 'content' %}
	{% set contents = category.contents %}
	{% set formsViewsContents = attribute(arrayOfFormsViewsContents, i) %}
	{% if (contents is not null) and (formsViewsContents is not null) %}
		{% set j = 0 %}
		{% for content in contents %}
			{% set formContent = attribute(formsViewsContents, j) %}
			{% include "MyWebsiteWebBundle:Profile:Layout/Form/profile-category-content-form.html.twig" %}
			{% set j = j+1 %}
		{% endfor %}
	{% endif %}
{% endif %}