{% extends "MyWebsiteWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - MyProjects{% endblock %}

{% block class_header %}header2{% endblock %}

{% block section %}
	<!---Start-content---->
	<div class="content">
		<div class="wrap">
			<!---start-Features---->
			<div class="feature-grids">
				<div class="feature-grid-head feature-grid-head1">
					<div class="feature-grid-head-top feature-grid-head-top1">
						<label> </label><span> </span> <label> </label>
						<div class="clear"> </div>
					</div>
					<h3><span>Mes</span> Curriculum vitae</h3>
					<p class="proinfo">Résumés de tous mes Cvs disponibles</p>
				</div>
				<div class="clear"> </div>
				{% if list_cvs | length == 0 %}
					<br/>
					<p>Aucun cv disponible...</p>
				{% else %}
					{% for cv in list_cvs %}
						{% include "MyWebsiteWebBundle:Web:Public/cv-resume.html.twig" %}
					{% endfor %}
				{% endif %}
			</div>
			<!---End-Features---->
		</div>
	</div>
	<!---End-content---!>
{% endblock %}