{% extends "MyWebsiteWebBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - MyProfil{% endblock %}

{% block css %} 
	{% stylesheets
			'bundles/mywebsiteweb/css/form-style.css'
			filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block class_header %}header2{% endblock %}

{% block section %}
	<!---Start-content---->
	<div class="content">
		<div class="wrap">
			<!---start-Features---->
			<div class="contact-form">
				<div class="feature-grids">
					<div class="feature-grid-head">
						<h3><span>Log in to</span> MyProfil</h3>
						<div class="feature-grid-head-top">
							<label> </label><span> </span> <label> </label>
							<div class="clear"> </div>
						</div>
					</div>
					<form class="contact_form" action="{{ path('web_profil_afficher') }}" method="post" name="contact_form">
						<ul class="form-content">
							<li>
								<label for="login">Pseudo:</label>
								<input type="text" name="login" placeholder="pseudo" maxlength="50" required />
							</li>
							<li>
								<label for="password">Mot de passe:</label>
								<input type="password" name="password" placeholder="mot de passe" required/>
						</ul>
						<ul class="form-submit">
							<li>
								<input type="submit" class="submit" value="Login"/>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!---End-content---->
{% endblock %}