<div class="feature-grid2">
	<div class="feature-grid-head feature-grid-head3">
		<h3><span>Informations</span> Personnelles</h3>
		<div class="feature-grid-head-top">
			<label> </label><label> </label>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="contact_form border">
		{% include "MyWebsiteWebBundle:Profil:Form/profil-form-picture.html.twig" %}
	</div>
	<div class="clear"> </div>
</div>