<li>
	<h2>Informations personnelles</h2>
	<span class="required_notification">* Denotes Required Field</span>
</li>
<li>
	{{ form_label(formProfil.firstName, "Prénom :") }}
	{{ form_widget(formProfil.firstName) }}
</li>
<li>
	{{ form_label(formProfil.lastName, "Nom :") }}
	{{ form_widget(formProfil.lastName) }}
</li>